{% extends 'base.html.twig' %}

{% block title %}Gestion des Projets{% endblock %}

{% block body %}
    <h1>Gestion des Projets</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Complexité</th>
            <th>Deadline</th>
            <th>Coût</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.complexity }}</td>
                <td>{{ project.deadline ? project.deadline|date('Y-m-d H:i') : 'Non défini' }}</td>
                <td>{{ project.cost }}</td>
                <td>{{ project.status }}</td>
                <td>
                    <a href="{{ path('admin_edit_project', {'id': project.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('admin_delete_project', {'id': project.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_dashboard') }}" class="btn btn-primary">Retour au tableau de bord</a>
{% endblock %}
