{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1>Gestion des utilisateurs</h1>
    <a href="{{ path('admin_create_user') }}">Créer un utilisateur</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="{{ path('admin_view_user', { id: user.id }) }}">Voir</a> |
                    <a href="{{ path('admin_edit_user', { id: user.id }) }}">Modifier</a> |
                    <a href="{{ path('admin_delete_user', { id: user.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
